@page
@model IndexModel
@{
    ViewData["OGTitle"] = "Project Icecream - Coderkick";
    ViewData["Title"] = "Project Icecream";
    ViewData["Description"] = "Project Icecream (or Coderkick Script) is a work-in-progress simple programming language aimed at children supposed to be officially launched in early 2024, along with an IDE to ease the making of complete applications using the language. We are doing our best to include as many features as we can.";
    ViewData["OGDescription"] = "Project Icecream is a work-in-progress simple programming language supposed to be officially launched in early 2024.";
}
<img src="/assets/ProjectIcecream.png">
<h1>State</h1>
<p>Project Icecream is in pre-alpha and will be first released to the public in late 2023.</p>
<h1>Help Us</h1>
<p>You can help us working on this programming language by joining the developer/council... team by starting a ticket in our <a role="url" href="https://coderkick.com/discord">Discord server</a>. Thank you.</p>