@page
@model IndexModel
@{
    ViewData["OGTitle"] = "Home";
    ViewData["Title"] = @Html.Raw("Welcome to <cdk id=\"cdk\">Coderkick</cdk>");
    ViewData["Description"] = "Coderkick is a non-profit software-developing organization with the goal of helping new developers and of giving to children tools to start their adventure in the programming world.";
    ViewData["OGDescription"] = "Coderkick is a non-profit software-developing organization with the goal of helping new developers and of giving to children tools to start their adventure in the programming world.";
}
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/accessible.png" class="img-fluid rounded-start" alt="Accessibility icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Accessible</h5>
        <p class="card-text">Everyone deserves equal access to technology, and a disability/disturb shouldn't get in the way of achieving so.</p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/user-first.png" class="img-fluid rounded-start" alt="Users First icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Users First</h5>
        <p class="card-text">We work a lot on minimizing the risk of getting this website blocked for any possible reason. This is done to avoid the risk of getting this website blocked.</p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/curated.png" class="img-fluid rounded-start" alt="Curated icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Well-done</h5>
        <p class="card-text">The Coderkick experience must reach perfection. It's the hardest part, it's achieved in months or even years' time, but it is possible.</p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/customizable.png" class="img-fluid rounded-start" alt="Customizable icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Yours</h5>
        <p class="card-text">Most Coderkick products are made to be highly customizable, both in the technical and aestethic ways.</p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/fun.png" class="img-fluid rounded-start" alt="Fun icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Fun</h5>
        <p class="card-text">We will do our best to keep the experience actually enjoyable.</p>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/international.png" class="img-fluid rounded-start" alt="International icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">International</h5>
        <p class="card-text">Coderkick is going to be available in as many languages as we can find translators for. <a href="/translate">Apply</a> here to translate our website in another language or fix some imperfections in an already-present one.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/$theme$/nonprofit.png" class="img-fluid rounded-start" alt="Free icon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">...and free</h5>
        <p class="card-text">We lose money every month to ensure Coderkick is free for everyone, and the amount of losses will only increase as we get more users. If you can, you might <a href="/donate">donate</a> to help us manage these costs.<i class="bi bi-heart-fill"></i></p>

      </div>
    </div>
  </div>
</div>