@page
@model coderkickcom.Pages.ProjectsModel
@{
    ViewData["OGTitle"] = "Projects";
    ViewData["Title"] = "Coderkick's projects";
    ViewData["Description"] = "Here are our projects!";
    ViewData["OGDescription"] = "What we work on every day";
}
<br>
<a href="/projects/icecream" role="url">Project Icecream</a>