@page
@model IndexModel
@{
    ViewData["OGTitle"] = "Us";
    ViewData["Title"] = "We are Coderkick";
    ViewData["Description"] = "Below you can find our ideology and socials.";
    ViewData["OGDescription"] = "We are Coderkick! This page contains our ideology and a list of our socials.";
}
<br>
<h1>What's ours</h1>
<p>Domains:</p>
<ul><li>*.coderkick.com</li></ul>
<p>E-mails:</p>
<ul><li>Any coderkick.com e-mail</li></ul>
<p>Social media accounts:</p>
<ul>
    <li><a href="https://twitter.com/CoderkickDevs" role="url">@@CoderkickDevs</a> on Twitter</li>
    <li><a href="https://tiktok.com/@@coderkickdevs" role="url">coderkickdevs</a> on TikTok</li>
    <li><a href="https://mastodon.social/@@Coderkick" role="url">@@Coderkick@@mastodon.social</a> on Mastodon</li>
    <li><a href="https://reddit.com/u/Coderkick" role="url">u/Coderkick</a> and <a href="https://reddit.com/r/coderkick" role="url">r/coderkick</a> on Reddit</li>
    <li><a href="https://github.com/Coderkick" role="url">Coderkick</a> on GitHub</li>
    <li><a href="https://youtube.com/@@Coderkick" role="url">@@Coderkick</a> on YouTube</li>
    <li><a href="https://instagram.com/coderkick" role="url">coderkick</a> on Instagram</li>
    <li><a href="/discord" role="url">Coderkick Hub</a> on Discord</li>
    <li><a href="https://coderkick.tumblr.com" role="url">coderkick</a> on Tumblr</li>
    <li><a href="https://pinterest.com/Coderkick" role="url">Coderkick</a> on Pinterest</li>
    <li><a href="https://npmjs.com/~coderkick" role="url">coderkick</a> on NPM</li>
    <li><a href="https://pypi.org/user/Coderkick" role="url">coderkick</a> on PyPI</li>
    <li><a href="https://nuget.org/profiles/Coderkick" role="url">coderkick</a> on NuGet</li>
</ul>
<h1>Tech Ideology</h1>
<h3>Online is Not (always) Better</h3>
<p>Hear me out, Internet is one of the best technologies ever invented. But, it is often used even where it is not needed; we think that every program that can be fully offline, should be offline (or partly-offline; data collection from the Internet is often needed).</p>
<h3>Computers against Phones</h3>
<p>Computers are still the best devices to code on due to the combination of Operating Systems and bigger displays. Tablets are also pretty good. Phones are not ready to be used for programming purposes yet.</p>
<h1>Security and Privacy</h1>
<h3>Security</h3>
<p>We use two SSL certificates. DNS is managed by Cloudflare.</p>
<h3>Privacy Policy</h3>
<p>We decided to host it <a href="/privacy" role="url">in a dedicated page here</a>. Enjoy!</p>
<h1>Support</h1>
<p>We have no way to guarantee 24-hour support. If you need quick support, the <a href="/discord" role="url">Coderkick Hub</a>, while still being based on volunteers, is probably a better option than the email <a href="mailto:support@coderkick.com" role="url">support@coderkick.com</a>.</p>
<h1>Politics</h1>
<p>The Coderkick staff will never express opinions on any argument of social, religious or politic nature in the coderkick.com website and in its social media descriptions, posts, names, comments and icons. This is to avoid governments, schools, or families from blocking our website for any political, religious or social reason.</p>
<h1>Promises</h1>
<p>The Coderkick staff vows to:</p>
<ul>
    <li>never make any money from the educative section of the website coderkick.com;</li>
    <li>never turn their products to SaaS (subscription-based);</li>
    <li>never insert any advertisement on any of their websites.</li>
</ul>