[data-bs-theme="dark"] {
    --bs-body-bg: #120028 !important;
    --bs-body-color: #dadada !important;
    --bs-tertiary-bg: #120028 !important;
    --bs-info-text-emphasis: #120028 !important;
    --bs-primary-text-emphasis: #120028 !important;
    --bs-success-text-emphasis: #120028 !important;
    --bs-danger-text-emphasis: #120028 !important;
    --bs-warning-text-emphasis: #120028 !important;
}

[data-bs-theme="light"] {
    --bs-body-bg: #dadada !important;
    --bs-body-color: #120028 !important;
    --bs-tertiary-bg: #dadada !important;
    --bs-info-text-emphasis: #dadada !important;
    --bs-primary-text-emphasis: #dadada !important;
    --bs-success-text-emphasis: #dadada !important;
    --bs-danger-text-emphasis: #dadada !important;
    --bs-warning-text-emphasis: #dadada !important;
}


[data-bs-theme="dark"], [data-bs-theme="light"] {
    --bs-font-sans-serif: "Space Grotesk" !important;
    --bs-font-monospace: "Space Mono" !important;
}

.navbar {
    background-color: var(--bs-body-bg) !important;
}

.navbar-brand, .nav-link {
    color: var(--bs-body-color) !important;
}

.card {
    border: none !important;
}

#cdk {
    cursor: pointer;
}

.offcanvas-backdrop.fade.show {
    pointer-events:none 
   }

html[data-bs-theme="dark"]::-moz-selection, html[data-bs-theme="dark"]::selection {
	background-color: #dadada !important;
	color: #120028 !important;
}

html[data-bs-theme="light"]::-moz-selection, html[data-bs-theme="light"]::selection {
	background-color: #120028 !important;
	color: #dadada !important;
}