@page
@model coderkickcom.Pages.ProjectsModel
@{
    ViewData["OGTitle"] = "Projects";
    ViewData["Title"] = "Coderkick's projects";
    ViewData["Description"] = "Here are our projects! Right now there are none, but we started a poll to see which one you would like us to work on first.";
    ViewData["OGDescription"] = "What we work on every day";
}
<br>
<a href="/poll" role="url">SEE THE POLL</a>