@page
@model coderkickcom.Pages.ShareModel
@{
    ViewData["OGTitle"] = "Share";
    ViewData["Title"] = "Share Coderkick";
    ViewData["Description"] = "We run on advertising; it gives us hope and motivation to continue developing our projects. Here are some quick links to share our project on various platforms. Thank you!";
    ViewData["OGDescription"] = "Advertise us on various platforms! It is a serious help for us.";
}

<a role="button" class="btn btn-secondary btn-lg" href="https://api.whatsapp.com/send?text=Check%20out%20Coderkick,%20a%20non-profit%20organization%20aiming%20at%20helping%20people%20get%20a%20passion%20for%20developing%20programs%3A%20https%3A%2F%2Fcoderkick.com"><i class="bi bi-whatsapp"></i> WhatsApp</a>
<a role="button" class="btn btn-secondary btn-lg" href="https://reddit.com/submit?url=https%3A%2F%2Fcoderkick.com&title=Check%20out%20Coderkick,%20a%20non-profit%20organization%20aiming%20at%20helping%20people%20get%20a%20passion%20for%20developing%20programs."><i class="bi bi-reddit"></i> Reddit</a>
<a role="button" class="btn btn-secondary btn-lg" href="https://telegram.me/share/url?url=https%3A%2F%2Fcoderkick.com&text=Check%20out%20Coderkick,%20a%20non-profit%20organization%20aiming%20at%20helping%20people%20get%20a%20passion%20for%20developing%20programs."><i class="bi bi-telegram"></i> Telegram</a>
<a role="button" class="btn btn-secondary btn-lg" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fcoderkick.com%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&text=Check%20out%20Coderkick,%20a%20non-profit%20organization%20aiming%20at%20helping%20people%20get%20a%20passion%20for%20developing%20programs.&url=https%3A%2F%2Fcoderkick.com"><i class="bi bi-twitter"></i> Twitter</a></a>