<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="debugMenu" aria-labelledby="debugMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="debugMenuLabel">Debug Mode</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="list-group" id="cdk-dmt">
            </div>
            We invite you to report any possible bug at the <a href="/discord"><i class="bi bi-discord"></i> Coderkick Hub</a>.
        </div>
    </div>
</div>
