<nav class="navbar navbar-expand-lg bg-body">
        <div class="container-fluid">
            <a class="navbar-brand text-body" href="/">Coderkick</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-buildings-fill"></i> Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/discord"><i class="bi bi-discord"></i> Coderkick Hub</a></li>
                        <li><a class="dropdown-item" href="https://twitter.com/CoderkickDevs"><i class="bi bi-twitter"></i> Twitter</a></li>
                        <li><a class="dropdown-item" href="https://github.com/Coderkick"><i class="bi bi-github"></i> GitHub</a></li>
                        <li><a class="dropdown-item" href="/us"><i class="bi bi-lightbulb-fill"></i> Tech Ideology</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-folder-fill"></i> Projects
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://chop.coderkick.com"><img src="/assets/CHOP-Icon.svg"> CHOP</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-megaphone-fill"></i> Help us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/share"><i class="bi bi-megaphone-fill"></i> Share</a></li>
                        <li><a class="dropdown-item" href="/translate"><i class="bi bi-translate"></i> Translate</a></li>
                        <li><a class="dropdown-item" href="/donate"><i class="bi bi-heart-fill"></i> Donate</a></li>
                    </ul>
                </li>
                <li id="cdk-dm" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bug-fill"></i> Debug
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#debugMenu" aria-controls="debugMenu"><i class="bi bi-list"></i> Menu</a></li>
                        <li><a class="dropdown-item" href="#" onclick="location.reload()"><i class="bi bi-arrow-clockwise"></i> Reload</a></li>
                        <li><a class="dropdown-item" href="#" onclick="exitDebugMode()"><i class="bi bi-x"></i> Exit Debug Mode</a></li>
                    </ul>
                </li>
            </ul>
            <li class="nav-item d-flex">
                <a class="nav-link active text-body" href="#"><i id="theme" class="bi bi-moon-fill" onclick="changeTheme()"></i></a>
            </li>
            </div>
        </div>
</nav>