[data-bs-theme="dark"] {
    --bs-body-bg: #120028 !important;
    --bs-body-color: #dadada !important;
    --bs-tertiary-bg: #120028 !important;
    --bs-info-text-emphasis: #120028 !important;
    --bs-primary-text-emphasis: #120028 !important;
    --bs-success-text-emphasis: #120028 !important;
    --bs-danger-text-emphasis: #120028 !important;
    --bs-warning-text-emphasis: #120028 !important;
    --bs-secondary-bg: #4f46e5 !important;
}

[data-bs-theme="light"] {
    --bs-body-bg: #dadada !important;
    --bs-body-color: #120028 !important;
    --bs-tertiary-bg: #dadada !important;
    --bs-info-text-emphasis: #dadada !important;
    --bs-primary-text-emphasis: #dadada !important;
    --bs-success-text-emphasis: #dadada !important;
    --bs-danger-text-emphasis: #dadada !important;
    --bs-warning-text-emphasis: #dadada !important;
    --bs-secondary-bg: #4f46e5 !important;
}


[data-bs-theme="dark"], [data-bs-theme="light"] {
    --header-font: "Plus Jakarta Sans" !important;
    --content-font: "Inter" !important;
}

h1, h2, h3, h4, h5, h6 .dropdown-item, .nav-link {
    font-family: var(--header-font) !important;
    font-weight: 700;
}

* {
    font-family: var(--content-font);
}

.navbar {
    background-color: var(--bs-body-bg) !important;
}

.navbar-brand, .nav-link {
    color: var(--bs-body-color) !important;
}

.card {
    border: none !important;
}

#cdk {
    cursor: pointer;
}

.offcanvas-backdrop.fade.show {
    pointer-events:none 
}

::-moz-selection[data-bs-theme="dark"], ::selection[data-bs-theme="dark"] {
	background-color: #dadada !important;
	color: #120028 !important;
}

::-moz-selection[data-bs-theme="light"], ::selection[data-bs-theme="light"] {
	background-color: #120028 !important;
	color: #dadada !important;
}

body {
    margin:0;
    padding:0;
    height:100vh;
 }

.navbar-brand {
    font-family: var(--header-font);
    font-weight: 800;
}